<%= render 'shared/navbar' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render 'shared/flashes' %>
<% if @us.present?  %>
<%= render 'shared/datosuser' %>
<% end %>

<h1 class= "text-center"><%= @user.username %></h1>
  <section class="module-small">
    <div class="container">
      <div class="row multi-columns-row">
      <% @user.nft.each do |nft|  %>
        <div class="col-sm-6 col-md-3 col-lg-3" data-aos="fade-down" data-aos-easing="ease-out-cubic"  >
          <div class="shop-item">
            <div class="shop-item-image"><%= cl_image_tag nft.photo.key, height: 300, width: 400, crop: :fill, :cloud_name => "dh3mihvcm" %>
              <div class="shop-item-detail"><a class="btn btn-round btn-b"><span class="icon-basket"><%= link_to 'More info', nft_path(nft), class: "btn btn-dark btn-lg" %></span></div>
            </div>
            <h4 class="shop-item-title font-alt">
            <%= nft.name %>
            </h4>Price:<%= nft.price %>
          </div>
        </div>
        <% end  %>
      </div>
    </div>
    </section>

    <section class="module-small">
  <div class="container">
    <div class="row multi-columns-row">

      <% @user.transactions.each do |transaction| %>
        <div class="col-sm-6 col-md-3 col-lg-3" data-aos="zoom-in-down" data-aos-easing="ease-out-cubic" >
          <div class="shop-item">
            <h4 class="shop-item-title font-alt"><%= transaction.created_at %></h4>
            <%= transaction.user.email %>
            <span class="orange">bought</span>
            <%= transaction.nft.name %>
            <span class="orange">from</span>
            <%= transaction.nft.user.email %>
            <span class="orange">for</span>
            <span class=>$</span>
            <%= transaction.nft.price %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>


    <div class="footer fixed-bottom">
    <div>
<%= link_to 'Create nft',  new_nft_path, class: "btn btn-dark" %>
<%= link_to 'Marketplace', nfts_path, class: "btn btn-dark" %>
<%= link_to 'Users list',  users_path, class: "btn btn-dark" %>
</div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Nft Marketplace
  </div>
</div>
