<div class="la_caja">
<h1 class="text-center mb-3">N.F.T. Marketplace </h1>
<div class="container">
  <div class="row" id="caja_tarjetas">
    <% @nfts.each do |nft| %>
    <div class="col-3 pt-4" id="tarjetas_main">
    <%= link_to  nft_path(nft) do %>
      <%= image_tag nft.image_url %>
      <% end  %>
    <div class="desc">
    <h3> <%= nft.name %> </h3>
    <p> Price:<%= nft.price  %></p>
    </div>
    </div>
  <% end %>
  </div>
</div>

<div class="footer mt-5">
<%= link_to 'Create nft',  new_nft_path, class: "btn btn-dark" %>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Nft Marketplace
  </div>
</div>

</div>