  <%= render 'shared/datosuser' %>
  <h1 class= "text-center"><%= @nft.name %></h1>
<div class="container mt-5">
<div class="row" id="carta">
  <div class="imagen col-md-6 col-lg-6">
    <%= image_tag @nft.image_url %>
    <p>Owner: <%= @nft.user.email %></p>
  </div>

  <div class="description col-md-6 col-lg-6">
    <div>
    <h3>Description</h3>
    <%=@nft.description %>
    </div>
    <h3><% if @nft.published %>
      <%="Price:#{@nft.price}" %>
      <%else  %>
      <%= "Not for sale" %>
    <% end  %>
    </h3>
</div>
</div>
</div>


<div class="footer mt-5 fixed-bottom">
  <div>
  <%= link_to 'Marketplace', nfts_path, class: "btn btn-dark" %>
  <%= link_to 'Edit NFT',  edit_nft_path(@nft), class: "btn btn-dark" %>
  <%= link_to 'Delete NFT', nft_path(@nft), class: "btn btn-dark", method: :delete %>
  <%= link_to 'Buy NFT', nft_transactions_path(@nft), class: "btn btn-dark", method: :post%>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Nft Marketplace
  </div>
</div>
