<h1><%= @nft.name %></h1>
<div class="container">
  <div class="imagen">
    <%= image_tag @nft.image_url %>
    <p>Owener: <%= @nft.user %></p>
  </div>

  <div class="description">
    <h2>Description</h2>
    <%= @nft.description %>
    <% if @nft.published %>
      <%= "Price:#{@nft.price}" %>
    <% end  %>
  </div>
</div>

<div class="footer mt-5">
  <%= link_to 'Marketplace', nfts_path, class: "btn btn-dark" %>
  <%= link_to 'Edit NFT',  edit_nft_path(@nft), class: "btn btn-dark" %>
  <%= link_to 'Delete NFT', nft_path(@nft), class: "btn btn-dark", method: :delete %>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Nft Marketplace
  </div>
</div>
