<div class="box">
<%= simple_form_for [@nft] do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :image_url %>
<%= f.input :published %>
<%= f.input :price %>
<%= f.submit class: "btn btn-dark btn-lg" %>
<% end  %>
</div>