<div class="bigger-box">
<div class="box pb-2">
<%= simple_form_for [@nft] do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :photo, as: :file %>
<%= f.input :published %>
<%= f.input :price %>
<%= f.submit class: "btn btn-dark btn-lg" %>
<% end  %>
</div>
</div>
