<h1 class = "text-center ">TRANSACTIONS</h1>

<section class="module-small">
  <div class="container">
    <div class="row multi-columns-row">
      <% @transactions.each do |transaction|  %>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="shop-item">
            <h4 class="shop-item-title font-alt"><%= transaction.created_at %></h4>
            <%= transaction.user.email %>
            <span class="orange">bought</span>
            <%= transaction.nft.name %>
            <span class="orange">from</span>
            <%= transaction.nft.user.email %>
            <span class="orange">for</span>
            <span class=>$</span>
            <%= transaction.nft.price %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
